.hero-section .header .mobile-nav .menu-icon-container,
.hero-section .header .desktop-nav .menu-icon-container, .footer .footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .header .mobile-nav,
.hero-section .header .desktop-nav, .hero-section .hero-content, .hero-section .hero-content .left-content, .hero-section .hero-content .left-content .cta .cta-btn a, .benefits-section .benefits-container, .methodology-section .methodology-container, .methodology-section .methodology-container .right-content .timeline ul li .timeline-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

body .container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

body .section-intro {
  text-align: center;
  margin: 50px 0;
}

body .section-intro h2 {
  font-weight: 500;
  font-size: 30px;
  color: #0f2137;
  margin-bottom: 10px;
}

body .section-intro p {
  font-weight: 500;
  font-size: 14px;
  color: #343d48;
}

.hero-section {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#16325b), to(#37499a));
  background: linear-gradient(to right, #16325b, #37499a);
}

.hero-section .header .mobile-nav,
.hero-section .header .desktop-nav {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  position: fixed;
  padding: 15px 50px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border-bottom: 1px solid white;
  background: -webkit-gradient(linear, left top, right top, from(#16325b), to(#37499a));
  background: linear-gradient(to right, #16325b, #37499a);
}

.hero-section .header .mobile-nav.scrolled,
.hero-section .header .desktop-nav.scrolled {
  background: #ffffff;
  border-bottom: 1px solid rgba(22, 50, 91, 0.2);
}

.hero-section .header .mobile-nav.scrolled .menu-icon-container .menu-icon,
.hero-section .header .desktop-nav.scrolled .menu-icon-container .menu-icon {
  background: #16325b;
}

.hero-section .header .mobile-nav.scrolled .menu-icon-container .menu-icon::before,
.hero-section .header .desktop-nav.scrolled .menu-icon-container .menu-icon::before {
  background: #16325b;
}

.hero-section .header .mobile-nav.scrolled .menu-icon-container .menu-icon::after,
.hero-section .header .desktop-nav.scrolled .menu-icon-container .menu-icon::after {
  background: #16325b;
}

.hero-section .header .mobile-nav .logo-container,
.hero-section .header .desktop-nav .logo-container {
  width: 120px;
}

.hero-section .header .mobile-nav .logo-container img,
.hero-section .header .desktop-nav .logo-container img {
  width: 100%;
}

.hero-section .header .mobile-nav .menu-icon-container,
.hero-section .header .desktop-nav .menu-icon-container {
  width: 40px;
  height: 40px;
}

.hero-section .header .mobile-nav .menu-icon-container.active .menu-icon,
.hero-section .header .desktop-nav .menu-icon-container.active .menu-icon {
  background: transparent;
}

.hero-section .header .mobile-nav .menu-icon-container.active .menu-icon::before,
.hero-section .header .desktop-nav .menu-icon-container.active .menu-icon::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hero-section .header .mobile-nav .menu-icon-container.active .menu-icon::after,
.hero-section .header .desktop-nav .menu-icon-container.active .menu-icon::after {
  bottom: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.hero-section .header .mobile-nav .menu-icon-container .menu-icon,
.hero-section .header .desktop-nav .menu-icon-container .menu-icon {
  width: 100%;
  height: 3px;
  background: #fff;
  position: relative;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.hero-section .header .mobile-nav .menu-icon-container .menu-icon::before, .hero-section .header .mobile-nav .menu-icon-container .menu-icon::after,
.hero-section .header .desktop-nav .menu-icon-container .menu-icon::before,
.hero-section .header .desktop-nav .menu-icon-container .menu-icon::after {
  left: 0;
  content: '';
  height: 100%;
  width: 100%;
  background: #fff;
  position: absolute;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hero-section .header .mobile-nav .menu-icon-container .menu-icon::before,
.hero-section .header .desktop-nav .menu-icon-container .menu-icon::before {
  top: -10px;
}

.hero-section .header .mobile-nav .menu-icon-container .menu-icon::after,
.hero-section .header .desktop-nav .menu-icon-container .menu-icon::after {
  bottom: -10px;
}

.hero-section .header .mobile-menu {
  top: 0;
  left: 100%;
  z-index: 5;
  opacity: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #ffffff;
  padding: 120px 25px 0 25px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hero-section .header .mobile-menu.active {
  left: 0;
  opacity: 1;
}

.hero-section .header .mobile-menu ul {
  list-style: none;
  padding-bottom: 100px;
}

.hero-section .header .mobile-menu ul li {
  padding: 10px 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.hero-section .header .mobile-menu ul li:hover {
  padding-left: 20px;
}

.hero-section .header .mobile-menu ul li:hover a {
  font-weight: 500;
}

.hero-section .header .mobile-menu ul li a {
  font-weight: 300;
  color: #0f2243;
  text-decoration: none;
}

.hero-section .header .mobile-menu .btns-container .btn {
  width: 100%;
  border: none;
  padding: 15px;
  display: block;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 55px;
  background: #16325b;
}

.hero-section .header .mobile-menu .btns-container .btn:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .hero-section .header .mobile-nav {
    display: none;
  }
}

.hero-section .header .desktop-nav {
  display: none;
}

@media (min-width: 1200px) {
  .hero-section .header .desktop-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero-section .header .desktop-nav.scrolled .desktop-menu ul li a {
  color: #16325b;
}

.hero-section .header .desktop-nav .desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .header .desktop-nav .desktop-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.hero-section .header .desktop-nav .desktop-menu ul li {
  margin: 0 20px;
}

.hero-section .header .desktop-nav .desktop-menu ul li a {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  -webkit-transition: all .5s;
  transition: all .5s;
  text-decoration: none;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hero-section .header .desktop-nav .desktop-menu ul li a:hover, .hero-section .header .desktop-nav .desktop-menu ul li a.active {
  font-weight: 500;
}

.hero-section .header .desktop-nav .desktop-menu .btns-container .learners-btn,
.hero-section .header .desktop-nav .desktop-menu .btns-container .talent-btn,
.hero-section .header .desktop-nav .desktop-menu .btns-container .expert-btn {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  margin-right: 15px;
}

.hero-section .header .desktop-nav .desktop-menu .btns-container .learners-btn {
  background: #16325b;
}

.hero-section .header .desktop-nav .desktop-menu .btns-container .talent-btn,
.hero-section .header .desktop-nav .desktop-menu .btns-container .expert-btn {
  background: #ff7a00;
}

.hero-section .hero-content {
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 900px) {
  .hero-section .hero-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hero-section .hero-content .left-content {
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

@media (min-width: 900px) {
  .hero-section .hero-content .left-content {
    width: 50%;
  }
}

.hero-section .hero-content .left-content .cta {
  color: #fff;
}

.hero-section .hero-content .left-content .cta h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

@media (min-width: 900px) {
  .hero-section .hero-content .left-content .cta h1 {
    font-size: 45px;
  }
}

.hero-section .hero-content .left-content .cta p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.hero-section .hero-content .left-content .cta .cta-btn {
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  background: #fe7a00;
}

.hero-section .hero-content .left-content .cta .cta-btn a {
  color: #ffffff;
  text-decoration: none;
}

.hero-section .hero-content .left-content .cta .cta-btn img {
  height: 25px;
  padding-left: 10px;
}

.hero-section .hero-content .right-content {
  display: none;
}

@media (min-width: 900px) {
  .hero-section .hero-content .right-content {
    width: 50%;
    display: block;
  }
  .hero-section .hero-content .right-content img {
    width: 100%;
  }
}

.benefits-section {
  padding: 100px 0;
  background: #ecf0fe;
}

.benefits-section .benefits-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 900px) {
  .benefits-section .benefits-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.benefits-section .benefits-container .benefit {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin: 0 20px 60px 20px;
}

.benefits-section .benefits-container .benefit .benefit-img {
  height: 150px;
  margin-bottom: 30px;
}

.benefits-section .benefits-container .benefit .benefit-img img {
  height: 100%;
}

.benefits-section .benefits-container .benefit .benefit-description h3 {
  font-size: 16px;
  margin-bottom: 15px;
}

.benefits-section .benefits-container .benefit .benefit-description p {
  font-weight: 200;
  font-size: 15px;
  color: #343d48;
}

.methodology-section .methodology-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 900px) {
  .methodology-section .methodology-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.methodology-section .methodology-container .left-content {
  width: 100%;
}

@media (min-width: 900px) {
  .methodology-section .methodology-container .left-content {
    width: 50%;
  }
}

.methodology-section .methodology-container .left-content img {
  width: 100%;
}

.methodology-section .methodology-container .right-content {
  width: 100%;
}

@media (min-width: 900px) {
  .methodology-section .methodology-container .right-content {
    width: 50%;
  }
}

.methodology-section .methodology-container .right-content .timeline ul {
  width: 75%;
  margin: 50px auto;
  text-align: left;
  list-style: none;
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.05);
}

.methodology-section .methodology-container .right-content .timeline ul li .timeline-item + .timeline-item {
  background: #000;
}

.methodology-section .methodology-container .right-content .timeline ul li .timeline-item {
  padding-bottom: 30px;
}

.methodology-section .methodology-container .right-content .timeline ul li .timeline-item:hover .circle::before {
  background: #105ed3;
}

.methodology-section .methodology-container .right-content .timeline ul li .timeline-item .circle {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  border-radius: 40%;
  position: relative;
  background: white;
  -webkit-box-shadow: rgba(23, 65, 104, 0.2) 0px 3px 8px 0.5px;
          box-shadow: rgba(23, 65, 104, 0.2) 0px 3px 8px 0.5px;
}

.methodology-section .methodology-container .right-content .timeline ul li .timeline-item .circle::before {
  top: 50%;
  left: 50%;
  content: '';
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: absolute;
  background: #eaebec;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.methodology-section .methodology-container .right-content .timeline ul li .timeline-item span {
  font-size: 40px;
  color: #eaebec;
  margin-right: 20px;
}

@media (min-width: 900px) {
  .methodology-section .methodology-container .right-content .timeline ul li .timeline-item span {
    font-size: 70px;
  }
}

.methodology-section .methodology-container .right-content .timeline ul li .timeline-item .timeline-details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.methodology-section .methodology-container .right-content .timeline ul li .timeline-item .timeline-details h6 {
  font-size: 16px;
  font-weight: 500;
  color: #0f2137;
  margin-bottom: 10px;
}

@media (min-width: 900px) {
  .methodology-section .methodology-container .right-content .timeline ul li .timeline-item .timeline-details h6 {
    font-size: 20px;
  }
}

.methodology-section .methodology-container .right-content .timeline ul li .timeline-item .timeline-details p {
  font-size: 15px;
  color: #5d646d;
}

.schedule-section {
  padding: 40px 0 50px 0;
  background-color: #ecf0fe;
}

.schedule-section .section-intro {
  width: 90%;
  margin: 0 auto;
}

.schedule-section .section-intro .schedule-btn {
  width: 60%;
  border: none;
  padding: 12px;
  font-size: 16px;
  margin-top: 50px;
  max-width: 300px;
  color: #ffffff;
  font-weight: 600;
  border-radius: 5px;
  background: #ff7a00;
}

.footer {
  padding: 100px 0;
  color: #ffffff;
  position: relative;
  overflow-x: hidden;
  background-color: #16325b;
}

.footer .footer-bg {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer .logo-container {
  width: 120px;
  margin: 0 auto 20px auto;
}

.footer .logo-container img {
  width: 100%;
}

.footer .footer-nav ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin-bottom: 20px;
}

.footer .footer-nav ul li {
  padding: 10px 20px;
}

.footer .footer-nav ul li a {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}

.footer .copyright {
  font-size: 14px;
  text-align: center;
}

.footer .copyright p {
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */